@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;1,500;1,700&family=Poppins:ital,wght@0,500;0,600;1,400&family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');


.main{
    /* background-image: url('/assets/bg1.jpg' );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
    font-family: 'Cabin', sans-serif;
    color: #fff;
    padding-top: 150px;
    padding-bottom: 150px;
}

.carousel{
    margin: 0 auto;
    width: 600px;
}


.main h1{
    font-family: 'Cabin', sans-serif;
    font-style: italic;
    line-height: px;
}

.btn{
    width: auto;
    margin: 20px;
   
}

.cont{
    background-image: url('/assets/bg1.jpg' );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}