@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,400&family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

.header {
  background-color: #fff;
  height: 70px;
}




body {
  background-color:  #000;  /* rgb(31, 19, 19); */
}

.nav-bar {
  font-weight: 200;
  font-size: 16px;
 
}

.nav-bar ul li {
  display: inline-block;
  padding: 20px 20px 0px 20px;
  flex-direction: row;
}

.nav-bar ul li:hover {
  font-weight: bold;
  cursor: pointer;
}

.sobre {
  width: 300px;
  margin: 0 auto;
  display: flex; 
  margin: 0 auto;
  justify-content: center;
  padding-top: 30px;
  display: flex; 
  float: left;
  padding-left: 90px;
}


.sobre h1 {
  color: #fff;
  padding-bottom: 10px;
  
}



.card1 {
  
  border-radius: 10px;
  color: #fff;
  padding: 25px;
  border: 1px solid #fff; 
  float: right;
}


.btn-button{
    width: 150px;
    height: 40px;
    border: none;
    color: #000;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    
}

.btn-button:hover{
    background-color: #000;
    color: #fff;
    transition: 1s;
}

.frame-music{
  color: #fff;
  text-align: center;
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 20px;
}




